{{#if showResult}}
  <a href="#" {{action answerPoll answer}}>
    <div>{{answer.percents}}</div>
  </a>

{{else}}
  <a href="#" {{action answerPoll answer}}>
    <div>{{answer.value}}</div>
  </a>
{{/if}}

